{# use this to include the common content in any email template

{% include "../templates/partials/common_content.njk" %} 

#}

<div class="common-content">
  <p>please make use of these special offer <b class="color-primary">to do somthing</b></p>
</div>